<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="layout/second.pt.css"/>
	<link rel="stylesheet" type="text/css" href="layout/mac_classic.css"/>
</head>
<body>
	<div class="frontcover"></div>

	<div class="halftitlepage">
		<h1 class="no-toc">Aprenda BDD Jogando Dados!</h1>
		<h2 class="no-toc">Seu comportamento é se divertir</h2>
		<h3 class="no-toc">Primeira Edição</h3>
	</div>

	<div class="titlepage">
	<h1 class="no-toc">Aprenda BDD Jogando Dados!</h1>

	<h2 class="no-toc">Seu comportamento é se divertir</h2>
	<h3 class="no-toc">Primeira Edição</h3>

	<p class="no-toc">por Valério Farias de Carvalho</p>

	<!-- also, the publisher's name would typically be printed here -->

	</div>
	
	<div class="imprint">
		<p>Por Valério Farias de Carvalho. Disponibilizado como <a href="http://creativecommons.org/licenses/by/2.5/br/">Creative Commons Atribuição 2.5</a></p>
		<br/>
		<p>Primeira edição: Julho de 2010</p>
		<br/>
		<p>Valério Farias<br/>http://www.valeriofarias.com<br/>Twitter: @valeriofarias</p>
		<br />
		<p>Origem da imagem da capa: http://www.flickr.com/photos/missturner/</p>
	</div>
	
	<!-- <div class="toc">
		<h1>Sumário</h1>
		#toc
	</div> -->
	
	<div class="chapter">
		#body
	</div>

	<!-- <div class="white_page"></div>
	<div class="white_page"></div>
	
	<div class="backcover"></div> -->
</body>
</html>
